.title {
  margin: 0;
  margin-bottom: 19px;

  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #00171F;
}

.group {
  width: 100%;
  margin-bottom: 16px;

  &:last-child {
    margin-bottom: 24px;
  }
}

.label {
  margin-bottom: 8px;

  display: block;
  font-size: 14px;
  line-height: 20px;
  color: #4D5D62;
}

.input {
  width: 100%;
  height: 48px;
  padding: 0 15px;

  border: none;
  background: #FFFFFF;
  border-radius: 3px;
  outline: none;
}

.textarea {
  width: 100%;
  height: 96px;
  padding: 15px 10px;

  background: #FFFFFF;
  border-radius: 3px;
  border: none;
  outline: none;
}