.container {
  position: relative;
}

.box {
  display: flex;
  align-items: center;

  padding: 0;

  background: transparent;
  border: none;
}

.icon {
  margin-right: 4px;
}

.name {
  font-size: 16px;
  line-height: 22px;
  color: #4D5D62;
  white-space: nowrap;
}

.list {
  display: none;

  position: absolute;
  z-index: 100;
  margin-top: 8px;
  left: 0;

  padding-top: 8px;
  padding-bottom: 16px;

  background: #FFFFFF;
  border-radius: 3px;
  box-shadow: 0 4px 20px rgba(15, 14, 14, 0.1);

  &.show {
    display: block;
  }
}

.button {
  padding: 8px 16px;
  width: 100%;

  font-size: 16px;
  line-height: 22px;
  color: #00171F;
  white-space: nowrap;
  text-align: left;

  background: transparent;
  border: none;
}

@media (max-width: 764px) {
  .box {
    width: 100%;
    padding: 16px;

    background: #FFFFFF;
    border-radius: 3px;

    &:hover {
      opacity: 1;
    }

    &:active {
      opacity: 1;
    }
  }

  .list {
    display: block;
    width: 100%;
  }
}